- name: Play 6 Create a AP
  hosts: all
  gather_facts: no
######

  tasks:

   - set_fact:
      aci_login: &aci_login
        host: "{{ inventory_hostname }}"
        username: "{{ lookup('env', 'ANSIBLE_NET_USERNAME') }}"
        password: "{{ lookup('env', 'ANSIBLE_NET_PASSWORD') }}"
        use_ssl: yes
        validate_certs: no

######Creat AP#####
   - name: Add a new AP
     aci_ap:
       <<: *aci_login
       tenant: "{{ tenant_name }}"
       ap: "{{ ap_name }}"
       description: default ap
       state: present
     delegate_to: localhost
