- name: Play 2 Create the Demo Tenant
  hosts: all
  gather_facts: no
######

  tasks:
######### Tenant Config ##########
 #  - name: Set {{ tenant_name }} Tenant
  #   aci_tenant:
       #<<: *aci_login#
   #    state: present
    #   tenant: "{{ tenant_name }}"
     #delegate_to: localhost
    - name: Add "{{ tenant_name }}" tenant
      cisco.aci.aci_tenant:
        host: "{{ inventory_hostname }}"
        tenant: "{{ tenant_name }}"
        description: Production tenant "{{ tenant_name }}"
        state: present
      delegate_to: localhost
